<!DOCTYPE html>
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">  <title>Arrow</title>
</head>
<body>
  <header>
    <nav class="navbar" >
      <h3 class="arrow">Arrow</h3>
      <img class="arrow-image" src="{{ url_for('static', filename='logo.svg') }}" alt="arrow" >

      {% if session.get("user_id") %} 

      <button class="logout-btn"  onclick="window.location.href='/logout';" >log out</button>

      {% else %}
      
      <button class="login-btn"  onclick="window.location.href='/login';" >log in</button>
      <button class="sign-btn"  onclick="window.location.href='/signup';">sign up</button>

      {% endif %}
    </nav>
  </header>
  <div class="line"></div>
  <main>

  {% block main %}{% endblock %}

  </main>
  
</body>
</html>