<!DOCTYPE html>
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">  <title>Arrow</title>
</head>
<body>
  <header>
    <nav class="navbar" >
      <a href="/">
      <img class="arrow-image" src="{{ url_for('static', filename='rrr.svg') }}" alt="arrow" >
      </a>

      {% if session.get("user_id") %} 

      <button class="logout-btn"  onclick="window.location.href='/logout';" >log out</button>

      {% else %}
      
      <button class="login-btn"  onclick="window.location.href='/login';" >log in</button>
      <button class="sign-btn"  onclick="window.location.href='/signup';">sign up</button>

      {% endif %}

       <div>
        <div class="buttons-container">
          <button class="tododo-btn-active"  onclick="window.location.href='/todo';">TO-DO List</button>
          <button class="time-btn"  onclick="window.location.href='/time';">Daily Progress Tracker</button>
          <button class="graph-btn"  onclick="window.location.href='/graph';">Progress Dashboard</button>
        </div>
      </div>
    </nav>
  </header>
  <div class="line"></div>
  <main>

    <div class="todo-container">
      <div class="todo-list">
       <h2 class="todo-title">MY TO DO LIST</h2>
       <form action="/add_task" method="POST" >
       <input type="text" placeholder="  Add your goals " autocomplete="off" id="input-task" class="todo-input"
       name="task" required >
       <button type="submit" class="todo-btn">ADD</button>
       </form>
      <ul id="task-list">
        {% for task in tasks %}

      <li onclick="window.location='/toggle_task/{{ task.id }}'"
      class="{% if task.completed %}checked{% endif %}">
          {{ task.task }} 
        <a href="/delete_task/{{ task.id }}">
          <span >&times;</span>
        </a>

      </li>
        {% endfor %}
  
      </ul>

      </div>
    </div>
   <div class="tip-box">
      <p class="tip-p">Tip: Break big goals into smaller tasks </p>
      <p class="tip-p2">to stay motivated and productive.</p>
   </div>
   <div>
      <h2 class="to-title">TO-DO LIST</h2>
   </div>
   <div>
      <p class="tip3">your to-dos are automatically saved,<br>
       even after logging out or closing the browser.</p>
   </div>
  </main>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  
</body>
</html>